@import "tailwindcss";

@theme {
  --color-brand-primary: #004C99;
  --color-brand-accent: #00AEEF;
  --color-brand-navy: #001A33;
  --color-brand-gray: #F8FAFC;
  --color-brand-whatsapp: #25D366;
}

body {
  font-family: var(--font-barlow);
  background-color: #ffffff;
}